@import './../../../app/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: flex-end;
  width: $col7;
  // background: red;
}

.time, .date {
  margin: 0;
}

.date {
  margin-top: 5%;
}

@media screen and (max-width:640px) {
  .container {
    width: $col6;
  }
}