@import './../../../app/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 4em;
}

.date {
  margin-top: 5%;
  font-size: 1.3em;
}

@media screen and (max-width:700px) {
  .time {
    font-size: 3em;
  }
}