@import './../../../app/web-fonts.scss';

.container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.separator {
  width: 90%;
}

.mainConditionIcon {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  align-items: center;
}

.mainConditionIcon p {
  margin: 10% 0 0;
  font-size: 1.6em;
}

.conditionSection {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  width: 100%;
  padding: 10px;
}
