@import './../../../app/web-fonts.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.separator {
  width: 230px;
}

.mainConditionIcon {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  align-items: center;
}

.mainConditionIcon p {
  margin: 10% 0 0;
  font-size: 1.6em;
}

.conditionSection {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.conditionEntity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%
}

.conditionEntity p {
  margin: 0;
}