@import './../../../app/web-fonts.scss';

.container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.conditionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.temperatureWrapper {
  display: flex;
  align-items: flex-end;
}

.conditionIcon {
  margin: 0 15px 15px -15px;
}

.conditionStatus {
  font-size: 1.3em;
  font-weight: bold;
}

.separator {
  width: 90%;
}

.conditionSection {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  width: 100%;
  padding: 10px;
}
