.container {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: rgba(35, 39, 63, .7);
}

.container div:last-child {
  margin-left: auto;
}

.icon {
  margin: 0 7px;
}

.temp {
  margin: 0 7px;
}
