@import "./../../variables.scss";

.container {
  margin: 1%;
}

.card {
  display: flex;
  width: 700px;
}

.cardError {
  display: flex;
  justify-content: center;
  width: 700px;
  border: 1px solid rgb(139, 44, 44);
}

.main {
  display: flex;
  width: $col7;
  flex-direction: column;
  background: #eee;
  align-items: center;
}

.timeContainer {
  display: flex;
  margin-top: 15%;
  white-space: nowrap;
}

.details {
  display: flex;
  background-color: rgba(42, 47, 77, 0.8);
  width: $col5;
  justify-content: center;
}

.spinner {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin: 80px;
  border: 0px solid #27ae60;
  border-radius: 50%;
  box-shadow: 0 -20px 0 24px #27ae60 inset;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%;
    flex-wrap: wrap;
  }

  .main {
    width: $col12;
  }

  .details {
    width: $col12;
    flex-direction: column;
  }

  .mainRowWrapper {
    margin-top: 5%;
  }
}
