@import './../../app/variables.scss';

.card {
  display: flex;
  width: 700px;
  margin: 1%;
}

.main {
  display: flex;
  width: $col7;
  flex-direction: column;
  background: #eee;
  align-items: center;
}

.timeContainer {
  display: flex;
  margin-top: 15%;
  white-space: nowrap;
}

.details {
  display: flex;
  background-color: rgba(42, 47, 77, .8);
  width: $col5;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .card {
    flex-wrap: wrap;
  }

  .main {
    width: $col12;
  }

  .details {
    width: $col12;
    flex-direction: column;
  }

  .mainRowWrapper {
    margin-top: 5%;
  }
}
