.wrapper {
  width: 100%;
  min-width: 640px;
  padding: 2%;
  margin: 2%;
  box-shadow: 1px 1px 1px 1px rgba(168, 165, 168, 0.8);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(168, 165, 168, 0.8);
  -moz-box-shadow: 1px 1px 1px 1px rgba(168, 165, 168, 0.8);
}

.flex-container {
  display: flex;
}

.main {
  min-height: 20em;
  min-width: 10em;
  flex-grow: 8;
  background: rgb(240, 161, 161);
}

.details {
  min-height: 20em;
  min-width: 10em;
  flex-grow: 4;
  background: rgb(196, 196, 135);
}